h1{
    font-family: 'Times New Roman', Times, serif;
    color: blueviolet;
    font-weight: 700;
}
.menu{
    margin: 50px;
    width: 50rem;
    background:burlywood;
    display: flex;
    align-items: flex-end;
    flex-direction:column;
    
}
.menu2{
    background: lightblue;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagen2{
    padding: 30px 0 30px 0;
}
.menu3{
    background: lightgreen;
    margin: 50px;
    width: 70rem;
    height: 400px;
    margin: 50px;
    display: flex;
    align-items: center;
}
.imagen3{
    padding: 70px 0 0 50px;
}
